# List

In [1]:
list5=['Asif','Parvez','Mustain','Haydar']
list5[2:0]

[]

In [2]:
list5[0:2]

['Asif', 'Parvez']

In [3]:
# add or change something in list

list5[3]='bsdk'
list5

['Asif', 'Parvez', 'Mustain', 'bsdk']

In [4]:
list5.append('Gandu')
list5

['Asif', 'Parvez', 'Mustain', 'bsdk', 'Gandu']

In [6]:
# insert something in list

list5.insert(0,'Billah')
list5

['Billah', 'Asif', 'Billah', 'Parvez', 'Mustain', 'bsdk', 'Gandu']

In [8]:
# remove from list

list5.remove('Gandu')
list5

['Billah', 'Asif', 'Billah', 'Parvez', 'Mustain', 'bsdk']

In [9]:
list5.remove('Billah')
list5

['Asif', 'Billah', 'Parvez', 'Mustain', 'bsdk']

In [10]:
list5.remove('Billah', 'Billah')
list5

TypeError: list.remove() takes exactly one argument (2 given)

In [11]:
list5.remove('Billah')
list5

['Asif', 'Parvez', 'Mustain', 'bsdk']

In [13]:
list5.pop(3)

list5

['Asif', 'Parvez', 'Mustain']

In [14]:
# print list

for value in list5 :
    print(value)

Asif
Parvez
Mustain

In [17]:
# print index wise

for value in range(6):
    print(list5[value])

Asif
Parvez
Mustain

IndexError: list index out of range

In [20]:
for value in range(3):
    print(list5[value])

Asif
Parvez
Mustain

In [24]:
for value in range(len(list5)):
    print(list5[value])

Asif
Parvez
Mustain

In [25]:
len(list5)

3

# list sorting

In [26]:


list5.sort()

In [27]:
list5

['Asif', 'Mustain', 'Parvez']

In [28]:
list6=[3,2,4,6,8,9,1,7]
list6.sort()

In [29]:
list6

[1, 2, 3, 4, 6, 7, 8, 9]

In [32]:
list5.sort(reverse=False)

In [33]:
list5

['Asif', 'Mustain', 'Parvez']

# Set

In [34]:
# No duplicate values in set
# Always use 2nd bracket

set={1,1,1,2,2,3,4,5,6,7,8}
set

{1, 2, 3, 4, 5, 6, 7, 8}

In [38]:
# Add something in set

set.add(69)
set

{1, 2, 3, 4, 5, 6, 7, 8, 69}

# Nested Loop